.ProjectList{
    margin:5em 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}
@media (min-width:360px) {
    .ProjectList{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}