#MainSection{
        background-color: var(--backgournd-color);
        background-image: url("./../assests/mePhoto.png") ;
        background-size:400px;
        background-position:-100% 100%;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        position: relative;
        z-index: 0;
}
@media (min-width:361px) {

        #MainSection{
        background-size:400px;
        background-position:0 100%;

        }
        
}
@media (min-width:720px) {

        #MainSection{
                background-size:600px;
                background-position:100% 100%;
        
                }     
}
