#header{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    padding:1em 0;
    z-index: 2;
}

#header > nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header > nav > ul li:nth-child(1){
    height: 60px;
    width:60px;
    
}

#header > nav > ul button{
    background-color: transparent;
    border: none;    
    padding: .4em;
} 

#header > nav > ul button span{
    display: block;
    width: 40px;
    height:2px;
    background-color: var(--primary-color);
    transition: .4s all;
}

#header > nav > ul button span:not(:first-child){
    margin-top:4px;
}

#header > nav > ul button span:nth-child(1){
    width:15px;
}

#header > nav > ul button span:nth-child(2){
    width: 25px;
}

#header > nav > ul button:hover span{
    width: 40px;
}



